* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans';
}

body {
    /* background-color: #FFF8F3; */
}

.nav-logo {
    font-weight: 800;
    font-size: 45px;
}

.tex-color-orange {
    color: #FD6E0A;
}

.navbar {
    display: flex;
    padding: 51px 230px;
    justify-content: space-between;
}

.nav-ul {
    display: flex;
    gap: 95px;
    align-items: center;
}

.navbar .nav-ul .nav-list {
    list-style: none;
}

.navbar .nav-ul .nav-list .nav-link {
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
    color: #474747;
}

/* Btn Style */

.btn-org {
    background-color: #FD6E0A;
    border: none;
    padding: 18px 19px;
    border-radius: 7px;
    color: white;
    cursor: pointer;
}

/* Banner Style */

.banner {
    display: flex;
    background-image: url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: bottom 7px right;
}

.my-info {
    margin: 297px 230px;
    margin-bottom: 0;
}

.banner-sub-title {
    font-weight: 600;
    font-size: 35px;
    color: #474747;
    margin-bottom: 5px;
}

.banner-title {
    font-weight: 700;
    font-size: 75px;
    color: #181818;
    margin-bottom: 20px;
}

.banner-discription {
    font-weight: 400;
    font-size: 18px;
}

/* Banner Btn style */
.banner-btn {
    margin-top: 30px;
}

.btn-contact {
    background-color: #FFF8F3;
    padding: 17px 26px;
    border: 1px solid #FD6E0A;
    border-radius: 7px;
    margin-left: 30px;
    color: #FD6E0A;
    cursor: pointer;
}

/* About Style */
.about {
    margin: 130px 230px;
    padding: 131px 156px;
    background-color: #FFF8F3;
    border-radius: 5px;
}

.about-title {
    text-align: center;
}

.about-title .title {
    margin-bottom: 30px;
    color: #181818;
    font-weight: 700;
    font-size: 35px;
}

.about-title .title-description {
    color: #757575;
    font-size: 18px;
}

.info-container {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    text-align: center;
}

.info-heading{
    color: #757575;
    font-size: 20px;
}

.info-container .info-discrip {
    color: #474747;
    font-weight: 700;
    font-size: 20px;
}