* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans';
}

body {
    /* background-color: #FFF8F3; */
}

.nav-logo {
    font-weight: 800;
    font-size: 45px;
}

.tex-color-orange {
    color: #FD6E0A;
}

.navbar {
    display: flex;
    padding: 51px 230px;
    justify-content: space-between;
}

.nav-ul {
    display: flex;
    gap: 95px;
    align-items: center;
}

.navbar .nav-ul .nav-list {
    list-style: none;
}

.navbar .nav-ul .nav-list .nav-link {
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
    color: #474747;
}

/* Btn Style */

.btn-org {
    background-color: #FD6E0A;
    border: none;
    padding: 18px 19px;
    border-radius: 7px;
    color: white;
    cursor: pointer;
    text-decoration: none;
}

/* Banner Style */

.banner {
    display: flex;
    background-image: url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: bottom 7px right;
}

.my-info {
    margin: 297px 230px;
    margin-bottom: 0;
}

.banner-sub-title {
    font-weight: 600;
    font-size: 35px;
    color: #474747;
    margin-bottom: 5px;
}

.banner-title {
    font-weight: 700;
    font-size: 75px;
    color: #181818;
    margin-bottom: 20px;
}

.banner-discription {
    font-weight: 400;
    font-size: 18px;
}

/* Banner Btn style */
.banner-btn {
    margin-top: 30px;
}

.btn-contact {
    background-color: #FFF8F3;
    padding: 17px 26px;
    border: 1px solid #FD6E0A;
    border-radius: 7px;
    margin-left: 30px;
    color: #FD6E0A;
    cursor: pointer;
}

/* About Style */
.about {
    margin: 130px 230px;
    padding: 131px 156px;
    background-color: #FFF8F3;
    border-radius: 5px;
}

.about-title,
.skill-heading {
    text-align: center;
}

.title-description,
.heading-description {
    text-align: justify;
}

.about-title .title,
.skill-heading .heading {
    margin-bottom: 30px;
    color: #181818;
    font-weight: 700;
    font-size: 35px;
}

.about-title .title-description,
.skill-heading .heading-description {
    color: #757575;
    font-size: 18px;
}

.info-container {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    text-align: center;
}

.info-heading {
    color: #757575;
    font-size: 20px;
}

.info-container .info-discrip {
    color: #474747;
    font-weight: 700;
    font-size: 20px;
}

/* Skills Section style*/

.skills {
    margin: 130px 230px;
    border-radius: 5px;
}

.skill-container {
    display: flex;
    margin-top: 50px;
    gap: 24px;
    background-color: #FFF8F3;
}

.skill {
    padding-top: 30px;
    text-align: left;
    padding: 30px;
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
}

.skill-title {
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 20px;
    color: #181818;
}

.skill-discriptions {
    font-weight: 400;
    font-size: 16px;
    color: #757575;

}


.resume-heading .heading {
    text-align: center;
    font-weight: 700;
    font-size: 35px;
    color: #181818;
}

.resume-container {
    display: flex;
    gap: 71px;
    margin: 113px 230px 50px 230px;
}

.education-heading,
.experience-heading {
    font-weight: 700;
    font-size: 30px;
    color: #474747;
}

.education-sub-branch {
    margin-top: 30px;

}

.edu-sub-branch-heading {
    font-weight: 700;
    font-size: 25px;
    color: #474747;
}

.edu-session {
    font-weight: 600;
    font-size: 20px;
    color: #757575;
    margin: 10px 0 20px 0;

}

.edu-session-description {
    font-weight: 400;
    font-size: 16px;
    color: #757575;
    margin-bottom: 30px;
}

.center-align {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Footer Style */

.footer {
    margin-top: 113px;
    background-color: #FFF8F3;
    padding: 0 230px;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    gap: 117px;

}

.footer-heading {
    padding-top: 130px;
}

.footer-title {
    font-weight: 700;
    font-size: 35px;
    color: #181818;
    margin-bottom: 20px;
}

.footer-description {
    font-weight: 400;
    font-size: 16px;
    color: #474747;
    margin-bottom: 30px;
    padding-right: 117;
}

.social-links a img {
    margin-right: 24px;
}

.footer-heading form input[type="text"],
input[type="email"] {
    display: block;
    width: 100%;
    border: none;
    outline: none;
    margin-top: 24px;
    padding: 30px;
}

.footer-heading form input[type="submit"] {
    display: block;
    margin-bottom: 30px;
}

.footer-heading form textarea {
    margin: 24px 0;
    padding: 15px 30px;
    border: none;
    outline: none;
}